<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h3>Update Employee</h3>
        </div>
        <div class="col-md-12">
            <form th:action="@{/add/employee}" th:object="${employee}" method="post">
                <input required class="form-control mb-2 col-4" type="text" th:field="*{id}" placeholder="Enter First Name">
                <input required class="form-control mb-2 col-4" type="text" th:field="*{firstName}" placeholder="Enter First Name">
                <input required class="form-control mb-2 col-4" type="text" th:field="*{lastName}" placeholder="Enter Last Name">
                <input required class="form-control mb-2 col-4" type="text" th:field="*{email}" placeholder="Enter Email">

                <button class="btn btn-primary" th:type="submit">Update</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>